{% extends "base.html" %}

{% block title %}Meu site{% endblock %}

{% block content %}
<div id="home-content" class="flex flex-col items-center w-full">
    <section id="hero-section" class="w-full">
        {% include './sections/hero.html' %}
        <div class="arrow-down"></div>
    </section>
    <section id="differentials-section-wrapper" class="w-full mb-20 md:mb-0">
    {% include './sections/differentials.html' %}
    <div class="arrow-down"></div>
    </section>
    <section id="testimonials-section" class="w-full">
        {% include './sections/testimonials.html' %}
        <div class="arrow-down"></div>
    </section>
    <section id="locationcontact-section" class="w-full">
        {% include './sections/location_contact.html' %}
        <div class="arrow-down"></div>
    </section>
    <section id="coaches-section" class="w-full">
        {% include './sections/coaches.html' %}
        <div class="arrow-down"></div>
    </section>
    <section id="contact-section" class="w-full">
        {% include './sections/contact.html' %}
        <div class="arrow-down"></div>
    </section>
</div>

<script type="module" src="{{ static('js/home.js?version=8') }}"></script>
{% endblock %}
