<section id="how-it-works" class="py-16 text-base-content w-full h-screen">
  <div class="container mx-auto mt-16 px-4">
    <h2 class="text-3xl md:text-7xl font-heading text-center barlow-condensed-light mb-12">
      COMO COMEÇAR
    </h2>

    <div id="app-steps"></div>

    <!-- CTA -->
    <div class="mt-16 text-center">
      <a href="#contato"
         class="btn btn-primary hover:btn-success text-3xl px-8 py-8 mt-10 rounded-full shadow-neon hover:shadow-neon-success transition-all duration-300
                font-heading barlow-condensed-semibold">
        Agendar treino experimental
      </a>
    </div>
  </div>

</section>
