<!-- <div class="absolute navbar h-24 bg-transparent shadow-sm z-50">
  <div class="navbar-start">
    <a class="hidden md:block btn btn-ghost barlow-condensed-light text-3xl ml-5">Box Base Inicial</a>
    <a class="md:hidden btn btn-ghost barlow-condensed-light text-2xl">Base Inicial</a>
  </div>
  <div class="navbar-center">
    <ul class="menu menu-horizontal px-1 roboto-flex-400 text-lg">
      <li><a href="#app-hero">Início</a></li>
      <li><a href="#app-coaches">Equipe</a></li>
      <li><a href="#app-testimonials">Depoimentos</a></li>
      <li><a href="#app-location-contact">Contato</a></li>
    </ul>
  </div>
  <div class="navbar-end"></div>
</div> -->
<div id="app-navbar"></div>